:root {
  --bg-color: background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
              background: linear-gradient(to right, #24243e, #302b63, #0f0c29);  
  --color-primary: #827ae0;
  --shadow-outer: -3px -3px 15px 1px rgba(255, 255, 255, 0.12),
    3px 3px 15px 1px rgba(0, 0, 0, 0.55);
  --shadow-inner: inset 3px 3px 8px 1px rgba(0, 0, 0, 0.5),
    inset -2px -2px 8px 1px rgba(255, 255, 255, 0.13);
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
} 
.loader{
  position: relative;
  height:120px;
  width:120px;
  border-radius: 50%;
  border:5px solid var(--color-primary);
  box-shadow: var(--shadow-outer);
  animation:loader 3s linear infinite;
}
.loader:after{
  content:'';
  position: absolute;
  top:-13px;
  left:20px;
  width:30px;
  height:30px;
  border-radius: 50%;
  background-color:var(--color-primary);
  box-shadow: var(--shadow-outer);
}
.loader:before{
  content:'';
  position: absolute;
  top:-11px;
  left:22px;
  width:26px;
  height:26px;
  border-radius: 50%;
  z-index: 4;
  background-color:transparent;
  box-shadow: var(--shadow-inner);
}
@keyframes loader{
  form{
    transform:rotate(0deg);
    filter:hue-rotate(0);
  }
  to{
    transform:rotate(360deg);
    filter:hue-rotate(360deg);
  }
}

  